# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Build
/dist
/build

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.tgz
*.zip
*.tar

# Coverage
coverage/

# Others
*.swp
*.bak
*.tmp

# Ignore test output
/test-output
